@import "tailwindcss";

@theme {
  --color-primary: #06666f;
  --color-on-primary: #ffffff;
  --color-secondary: #31666c;
  --color-surface: #f7fafa;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f1f4f4;
  --color-surface-container: #eceeee;
  --color-surface-container-high: #e6e9e9;
  --color-surface-container-highest: #e0e3e3;
  --color-on-surface: #181c1d;
  --color-on-surface-variant: #3f484a;
  --color-outline-variant: #bec8ca;
  --color-primary-fixed: #a4eff9;
  --color-on-primary-fixed: #001f23;
  --color-secondary-fixed: #b6ecf2;
  --color-on-secondary-fixed: #002023;
  --color-on-secondary-container: #386c72;
  --color-tertiary: #854e26;
  --color-inverse-primary: #88d2dc;
  --font-sans: "Lexend", sans-serif;
}

.soft-lift {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
}

.soft-lift-lg {
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08);
}
